* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bg3.jpeg);
  background-size: 160%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Cute font", "Pokemon solid", "Pixelgamefont", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0;
}

.btn {
  padding: 5px;
  background-color: #e70000;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-b {
  padding: 5px;
  background-color: #12bc42;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px 15px 50px;
}

.text-center {
  text-align: center;
  padding: 0;
}

h1 {
  font-size: 80px;
  color: #faff03;
  -webkit-text-stroke: 3px #e70000;
  letter-spacing: 10px;
  font-family: "Pokemon solid", sans-serif;
  padding-top: -10000px;
}

.row img {
  width: 100px;
  height: 100px;
}

.col-1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: url(../img/pokeball.png), auto;
}

.col-1 .img {
  position: relative;
  margin: 0 -20px;
  z-index: 1;
  width: 20rem;
  height: 20rem;
}

.img::after {
  content: "";
  display: block;
  width: 20rem;
  height: 20rem;
  position: absolute;
  background: url(../img/awan.png) bottom center no-repeat;
  background-size: 100%;
  bottom: -145px;
}

.mode {
  border-radius: 15px;
  background:  #F6F6F6;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin: 100px 100px;
  padding: 5px;
  padding-top: 0;
}

.choose {
  font-family: "Cute font", sans-serif;
  color: var(--Blue, #1684A7);
  text-align: center;
  font-family: Cute Font;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-mode {
  letter-spacing: 10px;
  font-family: "Pokemon solid", sans-serif;
  text-align: center;
}

.btn-easy {
  border-radius: 10px;
  padding: 5px;
  background-color: #FAFF03;
  width: 9rem;
  height: auto;
  color: #E70000;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-medium {
  border-radius: 10px;
  padding: 5px;
  background-color: #1684A7;
  width: 9rem;
  height: auto;
  color: #F6F6F6;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-hard {
  border-radius: 10px;
  padding: 5px;
  background-color: #E70000;
  width: 9rem;
  height: auto;
  color: #F6F6F6;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.button-start {
  letter-spacing: 10px;
  font-family: "Pokemon solid", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.btn-start {
  border-radius: 10px;
  padding: px;
  background-color: #12BC42;
  width: 29rem;
  height: auto;
  color: #F6F6F6;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}