* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bg3.jpeg);
  background-size: 160%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Cute font", "Pokemon solid", "Pixelgamefont", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0;
}

.btn {
  padding: 5px;
  background-color: #e70000;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  margin-right: 10px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-b {
  padding: 5px;
  background-color: #12bc42;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px 15px 50px;
}

.text-center {
  text-align: center;
  padding: 0;
}
.text-center h1 {
  font-size: 80px;
  color: #faff03;
  -webkit-text-stroke: 3px #e70000;
  letter-spacing: 10px;
  font-family: "Pokemon solid", sans-serif;
  line-height: 1;
}

.row img {
  width: 100px;
  height: 100px;
}

.col-1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: url(../img/pokeball.png), auto;
}

.col-1 .img {
  position: relative;
  margin: 0 -20px;
  z-index: 1;
  width: 20rem;
  height: 20rem;
}

.img::after {
  content: "";
  display: block;
  width: 20rem;
  height: 20rem;
  position: absolute;
  background: url(../img/awan.png) bottom center no-repeat;
  background-size: 100%;
  bottom: -15px;
}
.mode {
  width: 529px;
  height: 210px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 40px 10px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mode-center {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px 0 0 0;
  cursor: url(../img/pokeball.png), auto;
}
.isiMode {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.buttonMode {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin: 30px 0 0 0;
}
.buttonEasy {
  padding: 15px 20px 15px 20px;
  background-color: #faff03;
  color: #e70000;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonMedium {
  padding: 15px 20px 15px 20px;
  background-color: #1684a7;
  border: 0;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonHard {
  padding: 15px 20px 15px 20px;
  background-color: #e70000;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonSubmit {
  margin: 30px 0 0 0;
  width: 100%;
  padding: 10px;
  background-color: #12bc42;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.buttonSubmit:hover {
  background-color: black;
  color: white;
  cursor: url(../img/pokeball.png), auto;
}
.buttonEasy[aria-pressed="true"],
.buttonMedium[aria-pressed="true"],
.buttonHard[aria-pressed="true"] {
  background-color: black;
  color: white;
}
