* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bg3.jpeg);
  background-size: 160%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Cute font", "Pokemon solid", "Pixelgamefont";
  overflow: hidden;
}

.container {
  margin: 0;
}

.btn {
  padding: 5px;
  background-color: #e70000;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn:hover{
  background-color: #c00505;
}

.btn-b {
  padding: 5px;
  background-color: #12bc42;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-b:hover{
  background-color: #0da137;
}

.btn-a {
  padding: 5px;
  background-color: #1684a7;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
}

.btn-a:hover{
  background-color: #0c5d75;
}

.btn-sound {
  padding: 5px;
  background-color: white;
  border-radius: 100px;
  width: 9rem;
  height: auto;
  color: white;
  font-size: 18px;
  font-family: "Cute font", sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.btn-sound:hover{
  background-color: rgb(231, 220, 220);
}

.btn-sound i {
  color: #000c75;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px 15px 50px;
}

.text-center {
  text-align: center;
  padding: 15px 0 0 0;
}

h1 {
  font-size: 60px;
  color: #faff03;
  -webkit-text-stroke: 2px #000c75;
  letter-spacing: 10px;
  font-family: "PixelGameFont", sans-serif;
}
h2 {
  font-size: 30px;
  color: #000c75;
  letter-spacing: 10px;
  font-family: "cute font", sans-serif;
}
.row img {
  width: 100px;
  height: 100px;
}

.col {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 40vh;
  /* cursor: url(../img/pokeball.png), auto; */
}

.col .img {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.col .img:first-child {
  margin-right: -5rem;
}

.col-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: url(../img/pokeball.png), pointer;
}

.col-2 .img {
  position: relative;
  margin: 0 -20px;
  z-index: 1;
  width: 20rem;
  height: 20rem;
}
.img::after {
  content: "";
  display: block;
  width: 20rem;
  height: 20rem;
  position: absolute;
  background: url(../img/awan.png) bottom center no-repeat;
  background-size: 100%;
  bottom: 30px;
}

.pokemon {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: top 0.3s;
  background: url(../img/pokemon2.png) bottom center no-repeat;
  background-size: 60%;
  top: 120px;
}
.img.muncul .pokemon {
  top: -200px;
}
.mode {
  background-color: white;
  border-radius: 15px;
  width: 529px;
  height: 210px;
  padding: 10px 40px 10px 40px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.isiMode {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.buttonMode {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin: 30px 0 0 0;
}

.buttonEasy {
  padding: 15px 20px 15px 20px;
  background-color: #faff03;
  color: #e70000;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonMedium {
  padding: 15px 20px 15px 20px;
  background-color: #1684a7;
  border: 0;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonHard {
  padding: 15px 20px 15px 20px;
  background-color: #e70000;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: url(../img/pokeball.png), auto;
}

.buttonSubmit {
  margin: 30px 0 0 0;
  width: 100%;
  padding: 10px;
  background-color: #12bc42;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.buttonSubmit:hover {
  background-color: black;
  color: white;
  cursor: url(../img/pokeball.png), auto;
}
.buttonEasy[aria-pressed="true"],
.buttonMedium[aria-pressed="true"],
.buttonHard[aria-pressed="true"] {
  background-color: black;
  color: white;
}
.menu-icon {
  font-size: 30px;
  color: white;
  display: none;
}

@media screen and (max-width: 576px) {
  .row {
    align-items: flex-start;
    margin: 0;
    flex-wrap: wrap;
  }
  .row img {
    display: none;
  }
  .btn {
    padding: 2px;
    border-radius: 100px;
    width: 7rem;
    height: auto;
    font-size: 20px;
    font-family: "Cute font", sans-serif;
  }
  .btn-sound {
    padding: 2px;
    border-radius: 100px;
    width: 7rem;
    height: auto;
    font-size: 20px;
    font-family: "Cute font", sans-serif;
  }
  .btn-a {
    padding: 2px;
    border-radius: 100px;
    width: 7rem;
    height: auto;
    font-size: 20px;
    font-family: "Cute font", sans-serif;
  }
  .btn-b {
    padding: 2px;
    border-radius: 100px;
    width: 7rem;
    height: auto;
    font-size: 20px;
    font-family: "Cute font", sans-serif;
  }

  .btn-nav {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row .btn-nav.hidden {
    display: none;
  }
  .menu-icon {
    color: white;
    align-items: center;
    display: flex;
  }
  .text-center {
    padding: 20px 0 18px 0;
  }
  .text-center h1 {
    font-size: 40px;
  }

  body {
    background-image: url(../img/bg3.jpeg);
    background-size: 500%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 20px;
  }
  .col {
    height: 0vh;
  }
  .awan {
    align-items: center;
  }
  .img {
    width: 5rem;
    height: 5rem;
  }
  .img::after {
    width: 12rem;
    height: 10rem;
    justify-content: center;
    bottom: -25px;
  }
  .pokemon {
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    top: -13px;
  }
  .img.muncul .pokemon {
    top: -70px;
  }
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .col-2 .img {
    position: relative;
    margin: 0 -20px;
    z-index: 1;
    width: 12rem;
    height: 10rem;
  }
  .mode {
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: 180px;
  }
  .mode .isiMode {
    font-size: 35px;
    line-height: 25px;
  }
  .buttonMode {
    margin: 15px 0 0 0;
  }
  .buttonSubmit {
    margin: 20px 0 0 0;
  }
}
